.section {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-block: 100px;
    align-items: center;
    min-height: 50vh;

    h2 {
        display: inline-flex;
        align-items: center;

        span {
            margin-right: 10px;
        }
    }

    p {
        margin-bottom: 1.5em;
    }
}