.section {
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;

    h2 {
        display: inline-flex;

        span {
            margin-right: 10px;
        }
    }

    p {
        margin-bottom: 1.5em;
    }
}