.landing-page {
    position: relative;
    min-height: 80vh;
    justify-content: center;
    margin-bottom: 0;
    z-index: 1;

    p {
        @include forTablet {
            max-width: 50%;
        }
    }
}