.post-layout {
    margin-top: 0px;
    text-align: center;

    p {
        font-size: 0.75em;
        @include forTablet {
            font-size: 0.9em;
        }
    }
    
    &__header {
        position: relative;
        padding: 2em 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            max-width: $mq--tablet;
        }
    }

    &__title, &__snippet, &__info {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
        text-decoration: underline;
        text-decoration-color: $color-black;

        &:hover {
            text-decoration-color: $color-darkgreen;
        }
    }

    &__info {
        display: flex;
        width: 100%;
        justify-content: center;
        
        & > * {
            margin: 0 1em;
            & div, & svg {
                margin-right: 1em;
                position: relative;
                vertical-align: text-bottom;
                color: white;
            }
        }
    }

    &__credit {
        display: inline-flex;
        justify-content: flex-start;
        align-items: center;
        & > * + * {
            margin-left: 5px;
        }
    }

    &__author {
        color: $color-orange;
    }


    &__avatar {
        width: 40px;
        border-radius: 100px;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        position: relative;

        @include forTablet {
            padding: 0 $gutter--mobile;
        }

        &__inner {
            max-width: $mq--desktop--small;
            display: flex;
            margin: 0 auto;
        }
    }

    &__content {

        text-align: justify;
        margin: 50px 0;
        
        @include forTablet {
            margin: 100px 0;
        }

        p {
            // margin-bottom: 2em;
            @include forTablet {
                // margin-bottom: 3em;
            }
        }
    }

    &__share-button {
        // margin-bottom: 50px;

        @include forTablet {
            // margin-bottom: 100px;
        }

        span, svg {
            color: #1877F2;
            font-weight: 900;
        }
    }

}