/* BREAKPOINTS  */
$mq--tablet: 800px;

$mq--desktop: 1224px;
$mq--desktop--small: 864px;
$mq--desktop--large: 1440px;

/* GUTTERS */
$gutter--mobile: 20px;
$gutter--tablet: 40px;

$padding--mobile--width: $gutter--mobile * 3;

$nav-height: 75px;
$sidenav-width: 300px;

$mw--desktop: 1224px;
$mw--desktop--small: 864px;

:export {
    minTablet: $mq--tablet;
}