.button {
    position: relative;
    font-size: inherit;
    border-radius: 1000px;
    padding: 0.45em .5em;
    line-height: 1em;

    &--border {
        border: 4px solid $color-black;
        box-shadow: 0 6px 1px  $color-black;

        &:hover {
            box-shadow: 0 3px 1px  $color-black;
            transform: translateY(3px);
        }

        &:active {
            box-shadow: 0 1px 1px  $color-black;
            transform: translateY(5px);
            filter: brightness(.9);
        }
    }

    &--disabled {
        background-color: $color-grey;

        &:hover, &:active {
            transform: unset !important;
            box-shadow: 0 6px 1px  $color-black !important;
            filter: brightness(1);
        }
    }
}

.button--blog {
    border-radius: 0;

    &.button--border {
        text-transform: uppercase;
    }
    
    &.button--border {
        &:hover {
            transform: translateY(0);
        }
    }
}