.text {
}

.standard, .standard--medium {
    font-size: 18px;
    line-height: 30px;
}

.standard--small {
    font-size: 14px;
}

.standard--large {
    font-size: 22px;
}

.header, .header--medium {
    font-size: 32px;
}

.header--small {
    font-size: 22px;
}

.header--large {
    font-size: 44px;

    @include forTablet {
        font-size: 66px;
    }
}

.standard--marginBottom {
    margin-bottom: 1em;
}

.header--marginBottom {
    margin-bottom: .25em;
}

.bold {
    font-weight: 900;
}

.uppercase {
    text-transform: uppercase;
}