.bold {
    font-weight: 900;
}

.underline {
    position: relative;
    text-transform: uppercase;

    &::before {
        content: '';
        position: absolute;
        height: 4px;
        width: 70%;
        background-color: $color-black;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    &--center {
        &::before {
            left: 50%;
            transform: translateX(-50%);
            width: 40%;
        }
    }

    &--green {
        &::before {
            background-color: $color-green;
        }
    }

    &--darkgreen {
        &::before {
            background-color: $color-darkgreen;
        }
    }

    &--orange {
        &::before {
            background-color: $color-orange;
        }
    }

    &--white {
        &::before {
            background-color: $color-white;
        }
    }
}

.underline--blog {
    text-transform: unset;

    // &::before {
    //     content: '';
    //     position: absolute;
    //     height: .25em;
    //     width: 70%;
    //     left: 0;
    //     bottom: 0;
    //     z-index: -1;

    //     // @include forDesktop {
    //     //     animation: 4s linear 0s infinite alternate grow_underline;
    //     // }
    // }

    &.underline--center {
        display: inline-flex;
        
        &::before {
            left: 50%;
            transform: translateX(-50%);
            width: 25%;
            bottom: .2em;
        }
    }

    // @keyframes grow_underline {
    //     from { width: 50%; } to { width: 80%; }
    // }
}