.statement {
  text-align: center;

  &__large {
    margin-bottom: 300px;
  }

  &__content {
    margin-bottom: 300px;

    &__image {
      max-width: 50%;
     margin-left: auto;
     margin-right: auto;
    }
  }
}