$color-black: #2A2A2A;
$color-white: #ffffff;
$color-green: #95D814;
$color-darkgreen: #82B326;
$color-orange: #FF7818;
$color-grey: #CCCCCC;

:export {
  black: $color-black;
  white: $color-white;
  green: $color-green;
  darkgreen: $color-darkgreen;
  orange: $color-orange;
  grey: $color-grey;
}
