.frame {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    // min-height: 300px;
    // min-width: 300px;

    @include forMobile {
        border: none;
        box-shadow: none;

        &:hover {
            border: none;
            box-shadow: none;
        }
    }

    &__inner {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;

        @include forTablet {
            width: 90%;
            height: 90%;
            border-radius: 1000px;
            overflow: hidden;
        }

    }

    .frame__loader {
        display: block;
        background-color: #DDDBDD;
        width: 100%;
        height: 100%;
       
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            transform: translateX(-100%);
            background-image: linear-gradient(
              90deg,
              rgba(#fff, 0) 0,
              rgba(#fff, 0.2) 20%,
              rgba(#fff, 0.5) 60%,
              rgba(#fff, 0)
            );
            animation: shimmer 2s infinite;
            content: '';
          }
    }
}

.frame--square {
    padding-bottom: 100%;

    @include forTablet {
        padding-bottom: 60%;
        border-radius: 130px;
    }

    .frame__inner {
        @include forTablet {
            width: 92%;
            height: 88%;
            border-radius: 90px;
            overflow: hidden;
        }
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}
