.base-layout {
    display:flex; 
    flex-direction:column;

    &__main {
        margin-top: $nav-height + 20px;
        padding: 0 $gutter--mobile;
        position: relative;
        max-width: $mw--desktop;
        margin-left: auto;
        margin-right: auto;


        @include forTablet {
            margin-top: $nav-height + 20px;
            padding: 0 $gutter--tablet;
        }
    }
}