.funding {
  text-align: center;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: inline-flex;
    align-items: center;

    p {
      margin-left: 0.5em;
      margin-bottom: 0.25em;
    }
  }
}