.about-us {
    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {

            @include forTablet {
                max-width: 30%;
            }
        }
    }

    &__image-2,  &__image-1 {
        position: relative;
        width: 200%;

        @include forTablet {
            position: absolute;
            width: 75%;
        }

    }

    &__image-2 {
        left: 55%;

        @include forTablet {
            left: 70%;
        }
    }

    &__image-1 {
        right: 45%;
        margin-top: 2em;

        @include forTablet {
            right: 70%;
        }
    }
}