.blog-posts {
    text-align: center;

    &__title {
        @include forTablet {
            display: flex;
            justify-content: space-between;
        }
    }

    &__list {
        & > * + * {
            display: inline-block;
            margin-top: 100px;
        }
    
        @include forTablet {
            display: flex;
            justify-content: center;
    
            & > * + * {
                margin-top: 0;
                margin-left: 20px;
            }
        }
    }

    &--tabletOnly {
        display: none;
        @include forTablet {
            display: block;
        }
    }
}

.blog-post {
    text-align: center;
    
    @include forTablet {
        flex: 1;
    }

    &__image {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.75%;
        border: 5px solid $color-black;
        border-radius: 20px;
        overflow: hidden;
    }
}

.featured-blog-post {
    text-align: center;
    margin-bottom: 100px;

    @include forTablet {
        display: flex;
        margin-bottom: 0;
    }

    &__image {
        position: relative;
        flex: 1;
        height: 0;
        padding-bottom: 56.75%;
        overflow: hidden;

        img {
            border: 5px solid $color-black;
            border-radius: 20px;
            object-fit: cover;
            width: 100%;
        }

        @include forTablet {
            padding-bottom: calc(56.75% / 2);
        }
    }

    &__content {
        flex: 1;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 20px;
        @include forTablet {
            text-align: left;
        }
    }
}