.landing-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - (#{$nav-height} + 20px));
    margin-bottom: 100px;

    &__mobile-image {
        display: block;
        max-width: 100%;
        margin-bottom: 40px;

        @include forTablet {
            display: none;
        }
    }

    &__mini-header {
        margin-bottom: 20px;
    }

    &__header {
        &__top-line {
            @include forTablet {
            display: flex;
                align-items: center;
            }
        }
    }

    &__content {
        position: relative;
        width: 100%;
        text-align: left;

        h3 {
            font-size: .75em;

            @include forTablet {
                text-align: left;
            }
        }
        
        h1 {
            margin-top: -35px;
            text-transform: uppercase;
            display: grid;

            @include forTablet {
                margin-top: 0;
                font-size: 2.5em;
                display: block;
            }
        }

        .landing-page__desktop-golem {
            display: inline-flex;
            position: relative;
            margin-right: 10px;

            div {
                transform: translateY(25%);
            }
        }
    }

    &__desktop-image {
        display: none;

        img {
            width: 100%;
        }

        @include forTablet {
            display: block;
        }

        @include forDesktop {
            margin-left: 50px;
            margin-right: 75px;
        }
    }
}