.stats {

    @include forTablet {
        margin-top: 300px; 
    }

    &__content {
        display: flex;
        flex-direction: column;

        @include forTablet {
            align-items: flex-start;
            flex-direction: row;
        }
    }

    &__column {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include forTablet {
            &:nth-child(2) {
                .stats__circle::before, .stats__circle::after {
                    content: '';
                    position: absolute;
                    height: 50px;
                    width: 300%;
                    background: red;
                    top: 50%;
                    transform: translateY(-50%);
                    z-index: -1;
                    border-radius: 100px;
                    background-color: $color-black;
                }
    
                .stats__circle::before {
                    left: 0;
                }
    
                .stats__circle::after {
                    right: 0;
                }
            }
        }
    }

    &__circle {
        max-width: 250px; 
        width: 100%;
        margin-bottom: 1em;
    }

}