.button {
    font-size: inherit;
    border-radius: 100px;
    padding: 0.45em .5em;
    line-height: 1em;

    &--border {
        border: 4px solid $color-black;
        box-shadow: 0 6px 1px  $color-black;

        &:hover {
            box-shadow: 0 1px 1px  $color-black;
            transform: translateY(5px);
        }

        &:active {
            filter: brightness(.7);
        }
    }
}