.header {
    padding: .5em 0;

    &--large {
        font-size: 2em;

        @include forTablet {
            font-size: 3em;
        }
    }

    &--uppercase {
        text-transform: uppercase;
    }

    p {
        font-family: inherit;
    }
}