.navigation {
    position: fixed;
    width: 100%;
    height: $nav-height;
    z-index: 2;

    &__inner {
        width: 100%;
        max-width: $mw--desktop;
        display: flex;
        margin: 0 auto;
        padding: 20px $gutter--mobile;
        align-items: flex-start;

        @include forTablet {
            padding: 20px $gutter--tablet;
            align-items: center;
        }
    }

    &__left {
        display: flex;
        align-items: center;

        .navigation__logo {
            position: relative;
            display: flex;
            align-items: center;

            h2 {
                text-transform: uppercase;
            }

            * + * {
                margin-left: 10px;
            }
        
            &::before {
                content: '';
                position: absolute;
                top: 50%;
                right: 105%;
                width: 600px;
                height: 2px;
                background-color: $color-green;

                @include forDesktopLarge {
                    right: calc(100% + 50px);
                }
            }

            h2 {
                margin-bottom: unset;
            }

        }
    }

    &__right {
        flex-grow: 1
    }
}

.navigation__items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include forTablet {
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    &__links {
        order: 2;
        background-color: $color-green;
        margin-top: .5em;
        font-size: 1em;
        border-radius: 20px;
        border: 4px solid $color-black;
        box-shadow: 0 6px 1px $color-black;
        overflow: hidden;
        display: none;
        opacity: 0;
        text-transform: capitalize;
        transition: opacity .25s cubic-bezier(0.075, 0.82, 0.165, 1);

        @include forTablet {
            display: flex;
            flex-direction: row;
            font-size: 1em;
            margin: 0 20px;
            order: 0;
            box-shadow: 0 6px 1px $color-black;
        }

        &--active {
            opacity: 1;
            display: block;

            @include forTablet {
                display: flex;
            }
        }
    }
}

.navigation__link {
    font-family: $font-family;
    width: 100%;
    padding: .25em .5em;

    @include forTablet {
        width: unset;
    }

    &:focus,
    &:hover {
        background-color: $color-white;
    }

    &:active {
        background-color: $color-darkgreen;
    }

    &--button {
        background-color: $color-orange;

        &:focus,
        &:hover {
            background-color: $color-white;
        }

        &:active {
            background-color: $color-orange;
        }
    }
}

.navigation__hamburger {
    order: 1;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 105%;
        width: 600px;
        height: 2px;
        background-color: $color-orange;

        @include forDesktopLarge {
            left: calc(100% + 50px);
        }
    }

    circle {
        fill: $color-green
    }

    button:focus circle,
    button:hover circle {
        fill: $color-orange
    }

    button:active circle {
        fill: $color-darkgreen
    }
}

