.stack {

}

.gap--small {
    & > * + * {
        margin-top: 5px;

        @include forTablet {
            margin-top: 10px;
        }
    }
}

.gap--medium {
    & > * + * {
        margin-top: 10px;

        @include forTablet {
            margin-top: 20px;
        }
    }


}

.gap--large {
    & > * + * {
        margin-top: 20px;

        @include forTablet {
            margin-top: 40px;
        }
    }
}

.gap--huge {
    & > * + * {
        margin-top: 40px;

        @include forTablet {
            margin-top: 80px;
        }
    }
}